
<div class="main-layout">

  <div class="admin-sidebar">

      <div class="wrapper">
        <div>
          <ul class="links">
            <li routerLink="/admin/profile/:user_id"><i class="fa-solid fa-plus"></i><b>Profile</b></li>
            <li routerLink="/admin/profile/update/:user_id"><i class="fa-solid fa-plus"></i><b>Update Profile</b></li>
            <li routerLink="/admin/depts"><i class="fa-solid fa-bag-shopping"></i> <b>Departments</b></li>
            <li routerLink="/admin/depts/new"><i class="fa-solid fa-circle-nodes"></i> <b>New department</b></li>
            <li routerLink="/admin/employees"><i class="fa-solid fa-plus"></i> <b>Employees</b></li>
            <li routerLink="/admin/task/all"><i class="fa-solid fa-plus"></i><b>Tasks</b></li>
            <li routerLink="/dept/update/:dept_id"><i class="fa-solid fa-gear"></i> <b>Department Setting</b>s</li>
          </ul>
        </div>
      </div>

  </div>

</div>


  
