
<div class="main-layout">

  <div class="admin-sidebar">

      <div class="wrapper">
        <div>
          <ul class="links">
            <li data-cy="products-link-btn" routerLink="/admin/depts"><i class="fa-solid fa-bag-shopping"></i> Departments</li>
            <li data-cy="customers-link-btn" routerLink="/profile/employee/:user_id"> <i class="fa-solid fa-users"></i> Manager</li>
            <li routerLink="/admin/employees"><i class="fa-solid fa-plus"></i>Employees</li>
            <li routerLink="/admin/task/all"><i class="fa-solid fa-plus"></i>Tasks</li>
            <li routerLink="/admin/depts/new"><i class="fa-solid fa-circle-nodes"></i> New department</li>
            <li routerLink="/dept/update/:dept_id"><i class="fa-solid fa-gear"></i> Department Settings</li>
          </ul>
        </div>
      </div>

  </div>

</div>


  
