<app-navbar></app-navbar>


<section class="tasks-section">
  <div *ngIf="error" class="error-message">
    Error fetching tasks: {{ error }}
  </div>
  <table id="tasks">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.due_date | date: 'medium' }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.assigned_to_first_name }} {{ task.assigned_to_last_name }}</td>
        <td>
          <div class="actions">
            <!-- <button *ngIf="user.isAdmin" (click)="disableTask(task.task_id)" title="Disable">Disable</button> -->
            <!-- Add more actions as needed -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<app-footer></app-footer>
