
<section class="depts-section">
  <div *ngIf="error" class="error-message">
    Error fetching departments: {{ error }}
  </div>
  <table id="depts">
    <tr>
      <th>No. </th>
      <th>Name </th>
      <th>Department ID</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let dept of departments; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ dept.name }}</td>
      <td>{{ dept.dept_id }}</td>
      <td>
        <div class="actions">
          <!-- Example action icon, adjust as per your requirements -->
          <i class="fa-solid fa-user-xmark" title="disable"></i>
        </div>
      </td>
    </tr>
  </table>
</section>

