<app-navbar></app-navbar>

<div class="body">

    <div *ngIf="errorDiv" class="error-message">{{errorMsg}}</div>
    <div *ngIf="successDiv" class="success-message">{{successMsg}}</div>

    <div class="container">
        <form class="form-container" [formGroup]="updateDeptForm", (ngSubmit)="update_dept()">
            <div class="form-container-left">
                <div class="form-group">
                    <input type="text" id="name" name="name" formControlName="name" placeholder="name">
                    <div class="error" id="error" *ngIf="updateDeptForm.get('name')?.invalid && updateDeptForm.get('first_name')?.touched && !updateDeptForm.get('name')?.dirty">This is required</div>
                </div>
                <div class="form-group">
                    <input type="text" id="description" name="description" formControlName="description" placeholder="Firstname">
                    <div class="error" id="error" *ngIf="updateDeptForm.get('description')?.invalid && updateDeptForm.get('description')?.touched && !updateDeptForm.get('description')?.dirty">This is required</div>
                </div>
                <div class="form-group">
                    <select name="manager" id="manager" formControlName="manager" >
                        <option value="" disabled selected>Manager</option>
                        <option *ngFor="let user of users; let i = index" value="{{user.user_id}}" placeholder="manager">{{ user.first_name}} {{ user.last_name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>