
<div class="main-layout">

  <div class="manager-sidebar">
      <div class="wrapper">
        <div>
          <ul class="links">
            <li routerLink="/manager/profile/:user_id"><i class="fa-solid fa-plus"></i><b>Profile</b></li>
            <li routerLink="/manager/dept/:dept_id/employees"><i class="fa-solid fa-plus"></i><b>Employees</b></li>
            <li routerLink="/manager/task/new"><i class="fa-solid fa-plus"></i><b>New Task</b></li>
            <li routerLink="/manager/task/update/:task_id"><i class="fa-solid fa-gear"></i><b> Task Settings</b></li>
            <li routerLink="/manager/profile/update/:user_id"><i class="fa-solid fa-gear"></i> <b>Profile Settings</b></li>
          </ul>
        </div>
      </div>
  </div>


</div>


