
<hr>

<div class="manager-sidebar">
    <div class="wrapper">
      <!-- <div class="logo">
        <img class="project-logo" src="../../../../assets/b7ee8e7b-cd1e-488e-a294-e137cbfb9eaf-removebg-preview (1).png" alt="">
      </div> -->
      <div>
        <ul class="links">
          <li routerLink="/profile/manager/:user_id"><i class="fa-solid fa-plus"></i>Profile</li>
          <li routerLink="/dept/:dept_id/employees"><i class="fa-solid fa-plus"></i>Employees</li>
          <li routerLink="/profile/manager/:user_id"><i class="fa-solid fa-plus"></i>Profile</li>
          <li routerLink="/task/new"><i class="fa-solid fa-plus"></i>New Task</li>
          <li routerLink="/task/update/:task_id"><i class="fa-solid fa-gear"></i> Task Settings</li>
          <li routerLink="/profile/update/:user_id"><i class="fa-solid fa-gear"></i> Profile Settings</li>
        </ul>
      </div>
    </div>
  
    <!-- <div class="logout-section">
      <a class="login-link" (click)="logout()">Logout</a>
    </div> -->
</div>

<hr>

