nav {
    height: 8vh;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    border: 1px;
}

.nav-logo img {
    width: 100px; 
    height: auto; 
}

.nav-links,
div:nth-child(3) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li,
div:nth-child(3) li {
    margin-right: 20px;
}

.nav-links li a,
div:nth-child(3) li a {
    color: #000; 
    text-decoration: none; 
    transition: color 0.3s, border-bottom-color 0.3s; 
    font-weight: 500;
    font-size: 18px;
}

.nav-links li a:hover,
div:nth-child(3) li a:hover {
    color: #f9a804; 
    border-bottom: 2px solid #f9a804; 
}

.nav-btn button {
    background-color: #f9a804;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.profile-logo{

}


.profile-logo img{
    width: 30px; 
    height: auto;
}