<app-navbar></app-navbar>


<div>

    <div class="hero">
        <div>
            <div class="hero-1">
                <!-- <h1>Pay and Earn For <br> FreeLance <br> Services</h1> -->
                <div class="hero-1-txt">Manage your HR Team <br> Anywhere <br> Anytime</div>
            </div>
            <div class="hero-2">
                <p>Labour is a platform that helps manager connect with employees from a vast pool of global talent.
                    We provide efficient task management, and robust follow-up - wherever you're based!
                 </p>
            </div>
            <div class="hero-3">
                <button routerLink="/login">
                    Login
                </button>
                <button routerLink="/register">
                   Sign-Up
                </button>
            </div>
        </div>
        <div>
            <img src="../../../assets/high-3.jpeg" alt="">
        </div>
    </div>

    <div class="benefits">
        <div>
            <div class="benefits-1">
                Boost Your Account with Premium Features
            </div>
            <div class="benefits-2">
                <p>Our premium membership is divided into five tiers. Users access different levels, with increasing benefits</p>
            </div>
            <div class="benefits-3">
                <p>Benefits include bonuses for Customers, while providing reduced fees, priority placement and visual highlighting in search results for Freelancers – putting them in prime position to win more work, and earn a higher income.</p>
            </div>
            <div class="button-container">
                <button class="reg-btn" routerLink="/registration">Register</button>
            </div>
        </div>
        <div>
            <img src="../../../assets/boost-account-2x.webp" alt="">
        </div>
    </div>

    <hr>

    <div class="banner">
        <div>
            <div class="banner-1">
                Get started for free
            </div>
            <div class="banner-2">
                <div>Find employers from all over the world. Find remote work on Labour</div>
            </div>
            <div class="button-container">
                <button class="try-btn"> Try Now </button>
            </div>
        </div>
    </div>

    <hr>

    <div class="faq">
        <div class="faq-title">
            <h3>FAQ</h3>
        </div>

        <div class="faq-grid" *ngIf="faqs.length > 0">
            <div class="faq-card" *ngFor="let faq of faqs" (click)="toggleExpansion(faq)">
                <div class="faq-question">{{ faq.question }}</div>
                <div class="faq-answer">{{ faq.answer }}</div>
            </div>
        </div>
    </div>

</div>



<app-footer></app-footer>