
<div>
  <footer class="footer">

    <!-- <div class="footer-logo">
      <a href="#">labour</a>
    </div> -->

      <div class="footer-column">
        <ul>
          <li><a href="#"><b>Gigs</b></a></li>
          <li><a href="#"><b>Freelancer</b></a></li>
          <li><a href="#"><b>Blog</b></a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <ul>
          <li><a href="#"><b>Tools</b></a></li>
          <li><a href="#"><b>Developers</b></a></li>
          <li><a href="#"><b>Security</b></a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <ul>
          <li><a href="#"><b>Privacy Policy</b></a></li>
          <li><a href="#"><b>Terms of Use</b></a></li>
          <li><a href="#"><b>FAQ</b></a></li>
          <li><a href="#"><b>Discord</b></a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <ul>
          <li><a href="#"><b>Help Center</b></a></li>
          <li><a href="#"><b>Contact Us</b></a></li>
          <li><a href="#"><b>Community</b></a></li>
        </ul>
      </div>
    </footer>

    <!-- <div class="footer-copyright">
      <p>&copy; Task 2020-2024. All rights reserved.</p>
      <p>Designed by Duncan.</p>
    </div> -->
  
  </div>
  
