<hr>

<div>
  <footer class="footer">

    <!-- <div class="footer-logo">
      <a href="#">labour</a>
    </div> -->

      <div class="footer-column">
        <ul>
          <li><a href="#">Gigs</a></li>
          <li><a href="#">Freelancer</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <ul>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Discord</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </div>
    </footer>

    <!-- <div class="footer-copyright">
      <p>&copy; Task 2020-2024. All rights reserved.</p>
      <p>Designed by Duncan.</p>
    </div> -->
  
  </div>
  
