.footer {
    background-color: rgb(214, 214, 214);
    color: #ffffff;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    width: 100vw;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 8px;
  }
  
  .footer a {
    color: #000000;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }