<div class="main-layout">

  <div class="employee-sidebar">
      <div class="wrapper">
        <div>
          <ul class="links">
            <li routerLink="/employee/profile/:user_id"><i class="fa-solid fa-plus"></i><b>Profile</b></li>
            <li routerLink="/employee/profile/update/:user_id"><i class="fa-solid fa-plus"></i><b>Update Profile</b></li>
            <li routerLink="/employee/task/update/:task_id"><i class="fa-solid fa-plus"></i><b>Update Task</b></li>
          </ul>
        </div>
      </div>
  </div>

  

</div>




