.main-layout {
  display: flex;
  background-color: rgb(214, 214, 214);
  margin-right: 2vw;
  align-items: center;
}

.employee-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 15vw;
    align-items: center;
  }

  .project-logo{
    width: 150px;
    height: 100px;
    object-fit: contain;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
  }
  
  .links > li {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
  }
  
  .links >li:hover {
    color: #f9a804; 
    border-bottom: 2px solid #f9a804; 
  }
  
  i {
    color: dodgerblue;
  }
  
  .logout-section {
    margin-bottom: 30px; 
  }
  
  .login-link {
    color: dodgerblue;;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }